body { 
  background: url('https://i.pinimg.com/originals/b5/ba/72/b5ba722e02461b6e3ef5d00e9af86b66.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* color: white; */
  text-align: center;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-left: 40px;
  float: left;
  animation: rotate 10s cubic-bezier(0.85, 0, 0.2, 0.99) infinite;
}

@keyframes rotate {
  100% {
      transform: rotateY(360deg);
  }
}

.App-header {
  background-color: #2c1f9b94;
  min-height: 12vh;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: auto;
  border-bottom: 2px solid #7061d3;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 500px) {
  .App-header {
    /* margin: 0px; */
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
  a.nav-a {
    margin: 0px;
    font-size: 18px;
  }
  .App-logo {
    float: none;
    margin-left: 0px;
  }
  .daily {
    display: initial !important;
    margin: 25px;
  }
}

.nav-a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0 7px darkblue;
  margin: 20px;
  background-color: #3523a5;
  padding: 10px;
  border-radius: 6px;
  border: 2px double #7061d3;
}
.nav-a:hover {
  color: #ccc;
  text-decoration: none;
  text-shadow: 0 0 7px black;
  background-color: #22147e;
}

.App-link {
  color: #61dafb;
}

.gif {
  margin-top: -50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

