@import url(//db.onlinewebfonts.com/c/f88cd11de6d9aa48ddc14cf6181b309c?family=Nasalization);

body { 
  background: url('https://i.pinimg.com/originals/b5/ba/72/b5ba722e02461b6e3ef5d00e9af86b66.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* color: white; */
  text-align: center;
  background-size: cover;
}
#root {
  padding-bottom:60px;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-left: 40px;
  float: left;
  animation: rotate 10s cubic-bezier(0.85, 0, 0.2, 0.99) infinite;
}
.git-logo {
  float: right;
  margin-right: 40px;
}

@keyframes rotate {
  100% {
      transform: rotateY(360deg);
  }
}

.App-header {
  background-color: #2c1f9b94;
  min-height: 12vh;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: auto;
  border-bottom: 2px solid #7061d3;
  grid-template-columns: 1fr 350px 350px 1fr;
}

@media (max-width: 900px) {
  .App-header {
    background-color: #22196ec0;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
  a.nav-a {
    margin: 0px;
    font-size: 16px;
  }
  .App-logo {
    float: none;
    margin-left: 0px;
  }
  .git-logo {
    float: none;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {  
  .daily {
    display: initial !important;
    margin: 25px;
    margin-top: 0px;
  }
}
@media (max-width: 700px) {  
  .datepic {
    display: inherit !important;
  }
}

.nav-a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Nasalization";
  text-shadow: 0 0 7px darkblue;
  margin: 20px;
  background-color: #3523a5;
  padding: 10px;
  border-radius: 6px;
  border: 2px double #7061d3;
  max-width: 315px;
}
.nav-a:hover {
  color: #ccc;
  text-decoration: none;
  text-shadow: 0 0 7px black;
  background-color: #22147e;
}

.App-link {
  color: #61dafb;
}

.gif {
  margin-top: -30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-daily {
  max-width: 650px !important;
}

.d-flex {
  margin-top: 30px;
}

.datepic {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  justify-content: center;
}
.datepic button{
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #5e5e64;
  display: inline;
  min-width: 138px;
}
.datepic input{
  width: 150px;
}

.videos{
  width: 100%;
  height: 200px;
  border: none;
}
@media (min-width: 500px) {
  .videos{
    width: 100%;
    height: 400;
  }
}
@media (min-width: 900px) {
  .videos{
    width: 100%;
    height: 250px;
  }
}
@media (min-width: 1100px) {
  .videos{
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 1300px) {
  .videos{
    width: 100%;
    height: 400px;
  }
}

.footer{
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000cf;
  margin-bottom: -10px;
  padding-top: 5px;
  font-family: "Nasalization";
}


